@font-face {
  font-family: "iconfont"; /* Project id 4911273 */
  src: url('iconfont.woff2?t=1746249684881') format('woff2'),
       url('iconfont.woff?t=1746249684881') format('woff'),
       url('iconfont.ttf?t=1746249684881') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e601";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-liuyanfill:before {
  content: "\e743";
}

.icon-tupian:before {
  content: "\e691";
}

.icon-xieboke:before {
  content: "\e624";
}

.icon-gengduo1:before {
  content: "\e657";
}

.icon-a-yinlebofangliebiaoyinle:before {
  content: "\e67e";
}

.icon-daohang:before {
  content: "\e656";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-shouye-zhihui:before {
  content: "\e61d";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-guanbi:before {
  content: "\e620";
}

.icon-a-xiala2:before {
  content: "\e621";
}

.icon-facebook:before {
  content: "\e600";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-qq:before {
  content: "\e8d4";
}

.icon-wechat:before {
  content: "\e8d5";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-bilibili-fill:before {
  content: "\ea95";
}

